<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/src/css/footer.css">
</head>
<body>

    <!-- FOOTER START -->
    <div class="footer-container">

        <div class="footer-container2">
        <!-- FOOTER TEXT/BUTTON CONTAINER -->
        <div class="btn-text">
        <!-- FOOTER  TEXT -->
        <div class="footer-text">
            <h1>We'd love to build something amazing together</h1>
        </div>

        <!-- FOOTER BUTTON -->
        <div class="footer-button">

            <!-- BUTTON CONTAINER -->
            <div class="btn-container"> 
                <h2>Unlock your potential</h2>
                
            </div>

        </div>
        </div>
        </div>
    </div>
    
</body>
</html>